<div class="wrapper d-flex align-items-center justify-content-center mt-5">
    <div class="success-card shadow-sm">
        <div class="success-message text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" viewBox="0 0 512 512"
                class="mb-4">
                <path class="success-icon"
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
            </svg>
            <h2 class="card-title">Payment Successful!</h2>
            <p class="mb-5">Your payment has been processed successfully.</p>
            <a href="/" class="submit-btn btn-color fs-5">Return Home</a>
        </div>
    </div>
</div>