<div class="homepage-regional-events">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header
                    class="regional-events-heading entry-header flex flex-wrap justify-content-between align-items-center">
                    <h2 class="entry-title">Events in New York</h2>
                    <div class="select-location">
                        <select>
                            <option>New York</option>
                            <option>California</option>
                            <option>South Carolina</option>
                        </select>
                    </div>
                </header>
                <div class="swiper-container homepage-regional-events-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-1.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">U2 Concert </h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-2.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">Broadway Hit </h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-3.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">Gallery Exibition</h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-4.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">Art Gallery</h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-5.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">Music Concert</h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-6.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">EDM Festival</h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="assets/imgs/event-slider-1.jpg" alt>
                                <a class="event-overlay-link flex justify-content-center align-items-center"
                                    href="#">+</a>
                            </figure>
                            <div class="entry-header">
                                <h2 class="entry-title">U2 Concert </h2>
                            </div>
                            <div class="entry-footer">
                                <div class="posted-date">Saturday <span>Jan 27, 2018</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" />
                            </svg></span>
                    </div>
                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z" />
                            </svg></span>
                    </div>
                </div>
                <div class="events-partners">
                    <header class="entry-header">
                        <h2 class="entry-title">Partners</h2>
                    </header>
                    <div class="events-partners-logos flex flex-wrap justify-content-between align-items-center">
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/pixar.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/the-pirate.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/himalayas.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/sa.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/south-porth.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/himalayas.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/sa.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/south-porth.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/pixar.png" alt></a>
                        </div>
                        <div class="event-partner-logo">
                            <a routerLink="/events"><img src="assets/imgs/the-pirate.png" alt></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>