<!-- <div class=" w-100 h-100  allLog vh-70 m-auto"> -->

<div class=" d-flex justify-content-center align-items-center flex-column py-2">
  <form [formGroup]="registerForm" (ngSubmit)="Register(registerForm)">

    <div class="form justify-content-evenly gap-4 row  forms align-items-center my-2 ">

      <div class="container d-flex justify-content-center py-2 col-8 ">
        <!-- <div id="acc" class="rounded-pill d-flex align-items-center justify-content-center ">
                    <i class="fa fa-user px-4 fs-2 text-white user" aria-hidden="true"></i>
                </div> -->
        <!-- <label id="input-img" for="profile-pic">
                    <span id="select-img">
                      <i class="fa-solid fa-image text-info"></i>
                      <input id="profile-pic" type="file" accept="image/png, image/jpg, image/gif, image/jpeg">
                      <span class="title">Select your profile picture.</span>
                    </span>
                  </label> -->

        <div id="selected-img">
          <i class="fa-solid fa-camera" (click)="imageInput.click()"></i>
          <div class="position-relative">
            <div class="inner overflow-hidden">
              <span id="remove-profile-picture" class="position-absolute p-1 bg-danger rounded-circle"
                [class.show]="isProfileImageSelected" (click)="removeProfileImageHandler($event)">
                <i class="fa-solid fa-xmark"></i>
              </span>
              <!-- Uncomment the line below if you want to include an image -->
              <img [src]="imagePath" alt="profile picture" decoding="async" (click)="imageInput.click()">
            </div>
          </div>
        </div>

        <!-- <input
                    (change)="onImageFileSelected($event)"
                    name="image"
                    type="file"
                    id="image"
                    formControlName="image"
                    class="form-control my-3"
                    style="display: none"
                    #imageInput> -->



      </div>

      <div class="container d-flex flex-column justify-content-evenly py-2 col-8">
        <input class="inform bg-transparent " type="text" formControlName="name" placeholder="Name" />
        <div *ngIf="registerForm.get('name') && registerForm.get('name')?.touched">
          <p *ngIf="registerForm.get('name')?.getError('required')" class="text-danger">User Name is Required</p>
          <p *ngIf="registerForm.get('name')?.getError('minlength')" class="text-danger">User Name should be at least 3
            words </p>
          <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="text-danger">User Name should be maximum 10
            words</p>
        </div>
      </div>
      <div class="container d-flex flex-column justify-content-evenly py-2 col-8">
        <input class="inform bg-transparent" type="text" formControlName="email" placeholder="Email" />
        <div *ngIf="registerForm.get('email')&& registerForm.get('email')?.touched">
          <p *ngIf="registerForm.get('email')?.getError('required')" class="text-danger">Email is Required</p>
          <!-- <p *ngIf="registerForm.get('email')?.getError('pattern')" class="text-danger">Email should match the format email.com </p> -->
          <p *ngIf="emailErrorMessage" class="alert alert-danger">{{emailErrorMessage}}</p>
        </div>

      </div>
      <div class="container d-flex flex-column justify-content-evenly py-2 col-8">
        <input class="inform bg-transparent" type="password" formControlName="password" placeholder="Password" />
        <div *ngIf="registerForm.get('password')&& registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.getError('required')" class="text-danger">Password is Required</p>
          <p *ngIf="registerForm.get('password')?.getError('pattern')" class="text-danger">Password should be Minimum
            eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:
          </p>
        </div>
      </div>
      <!-- <label  class="fw-bold mainfntclr" for="image">Image
                    <span class="text-danger">*</span></label> -->
      <input (change)="onImageFileSelected($event)" name="image" type="file" id="image" formControlName="image"
        class="form-control my-3" style="display: none" #imageInput>


      <div *ngIf="registerForm.get('image')&& registerForm.get('image')?.touched">
        <p *ngIf="registerForm.get('image')?.getError('required')" class="text-danger">Image is Required</p>
        <p *ngIf="registerForm.get('image')?.getError('pattern')" class="text-danger">File should have only jpg, png,etc
        </p>

      </div>
      <div class="ms-lg-auto m-auto text-center d-flex justify-content-center col-8">
        <button class="btn btn-color text-light fs-5 border-2 border-white rounded-pill px-4 py-2 " type="submit"
          value="Register" data-bs-dismiss="modal" [disabled]="registerForm.invalid">Register</button>

      </div>

    </div>

  </form>
  <!-- <p *ngIf="success" class="mt-2 fs-4 text-success text-center">Login successful! Redirecting...</p>
          <p *ngIf="failure" class="mt-2 fs-4 text-danger text-center">Login failed. Please check your credentials.</p>
        <br><br><br><br><br> -->

</div>

<!-- </div> -->