<footer class="site-footer">
  <div class="footer-top">
    <div class="container border-bottom border-1 border-light pb-3">
      <div class="row">
        <div class="col">
          <h6>About Evenue</h6>
          <p class="text-justify">
            Evenue is your go-to platform for discovering and booking events.
            From concerts to conferences, we connect people with unforgettable
            experiences.
          </p>
        </div>

        <div class="col">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
          </ul>
        </div>

        <div class="col">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li>Email: support&#64;evenue.com</li>
            <li>Phone: +123 456 7890</li>
          </ul>
        </div>

        <div class="col">
          <h6>Follow Us</h6>
          <div class="social-icons">
            <a class="facebook" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="twitter" href=""><i class="fab fa-twitter"></i></a>
            <a class="instagram" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row w-100">
        <div class="col text-center">
          <p>© 2024 Evenue. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>