<main class="landing position-relative">
  <div class="position-absolute top-50 translate-middle-y ms-5 ps-5">
    <p class="landing-title rounded text-white fw-bold w-75">
      <span class="display-1">Welcome to <span class="evenue-color fw-bold">Evenue</span>!</span><br>
      <span class="fs-3 fw-light">Explore a variety of events, book your tickets, and share your experiences with our
        community.</span>
    </p>

    <!-- <pre class="text-white fw-bold fs-1  ">
    Celebrating Moments,
    Building Memories
    </pre> -->
  </div>
</main>
<app-our-next-events></app-our-next-events>
<app-featured-events></app-featured-events>
<app-testimonials></app-testimonials>
<app-carousel></app-carousel>
<!-- <app-events-partners></app-events-partners> -->
<!-- <app-regional-events></app-regional-events> -->