<div class="events-partners">
  <header class="entry-header">
    <h2 class="entry-title">Partners</h2>
  </header>
  <div
    class="events-partners-logos flex flex-wrap justify-content-between align-items-center"
  >
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/pixar.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/the-pirate.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/himalayas.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/sa.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/south-porth.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/himalayas.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/sa.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/south-porth.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/pixar.png" alt /></a>
    </div>
    <div class="event-partner-logo">
      <a href="#"><img src="assets/imgs/the-pirate.png" alt /></a>
    </div>
  </div>
</div>
