<div class="wrapper d-flex align-items-center justify-content-center mt-5">
    <div class="fail-card shadow-sm">
        <div class="fail-message text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" viewBox="0 0 512 512"
                class="mb-4 text-danger">
                <path
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
            </svg>
            <h2 class="card-title">Payment Failed</h2>
            <p class="mb-5">We encountered an issue processing your payment. Please try again or contact support.</p>
            <button href="/retry" class="submit-btn btn btn-color fs-5 text-light w-50">Retry Payment</button>
        </div>
    </div>
</div>